*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body {
    transition: .25s;
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}

.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.nav-container {
    background-color: #000;
    width: 100%;
    height: 5em;
    position:fixed;
    z-index: 21;
    display:flex;
}

.nav-h1 {
    color: #fff;
    align-self: center;
    transition: .25s;
    margin-left: .3em;
    font-size: 3em;
    z-index: 20;
}

.color-info {
    background-color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    border-radius: 2rem;
    max-width: max-content;
    min-width: 300px;
    position: relative;
    top: 65%;
    transform: translateY(-50%);
    margin: auto;
    z-index: 0;
}

.color-info p{
    display: block;
    padding: 1em;
}

#bgnd-color-el {
    display: block;
    padding: .2em;
}

#btn-color {
    font-size: .8em;
    width: 8em;
    padding: 1em .5em; 
    margin: 2em 0 1em 0;
    border: none;
    border-radius: 1em;
    transition: 1s;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    user-select: none;
    transition: .25s;
}

#btn-color:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .25s;
}

#btn-color:active {
    animation: shake .15s infinite forwards;
    border: 2px solid #ccc;
    color: #ccc;
}

@keyframes shake{
    0%    {transform: translateX(0%);}
    50%    {transform: translateX(1%);}
    75%    {transform: translateX(-1%);}
    100%   {transform: translateX(0%);}
}

#btn-copy {
    position: absolute;
    top: 40%;
    font-size: .9em;
    font-weight: 200;
    user-select: none;
    transition: .25s;
}

#btn-copy:hover {
    transform: scale(1.1);
    transition: .25s;
    cursor: pointer;
}

#btn-copy:active {
    color: #ccc
}

.msg-copy {
    display:none;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    width: 20ch;
    background: #000;
    color: #fff;
    transition: .5s;
    animation: appearMsg .35s steps(20) forwards;
    font-size: 2em;
    opacity: 1;
    white-space: nowrap;
}

@keyframes appearMsg {
    from {opacity: 0}
}

@keyframes disappearMsg {
    from {opacity: 1}
    to {opacity: 0}
}

@media (max-width: 500px) {
    .nav-container {
        justify-content: center;
        transition: .25s;
        min-width: max-content;
    }
}